.post-title {
  font-size: 32px;
  font-weight: bold;
  line-height: 40px;
  margin-bottom: 14px;
  background: var(--vp-home-hero-name-background);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: var(--vp-home-hero-name-color);
}
.post-meta .n-text {
  font-size: 15px;
}
.post-tags {
  margin-top: 16px;
}
.post-description {
  font-size: 16px;
  margin-top: 16px;
}

.archive {
  height: 100%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 1em;
  border-radius: 10px;
  box-shadow: var(--box-shadow-1);
  background-color: var(--body-color);
}
.archive:hover {
  box-shadow: var(--box-shadow-1), inset 0 0 6px 0 var(--vp-c-brand);
}
.archive:hover > .archive-title {
  color: var(--vp-c-brand);
}
.archive-title {
  margin: 16px 0 10px 0;
  font-size: 16px;
  font-weight: bold;
}
.archive-tag {
  cursor: pointer;
  font-size: 12px;
}
.archive-tag-selected {
  color: var(--vp-c-brand);
}
.archive-tag .archive-tag-item:hover {
  color: var(--vp-c-brand);
}
